.roomSetup {
  form {
    position: relative;
    background-color: white;
    border-radius: 5px;
    left: 8px;

    fieldset {
      border: none;

      .buttonContainer {
        text-align: center;
        button {
          margin: 5px;
        }
      }
    }
    #roomName, #roomPassword {
      width: 300px
    }
  }
}