.content.Reacteroids {
  @font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'),
       url('/fonts/pt-mono-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/pt-mono-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  padding: 0;
  margin: 0;
  font-family: 'PT Mono', serif;
  color: #ffffff;

  .gameContainer {
    border-top-left-radius: 5px;
    background-color: black;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }

  &.compact {
    .gameContainer {
      border-top-left-radius: initial;
    }
    canvas {
      border-top-left-radius: initial;
    }
  }

  canvas {
    border: 2px dashed dimgray;
    border-top-left-radius: 5px;
    display: block;
    background-color: #000000;
    max-height: 500px;
    max-width: 500px;
    width: 100%;
    height: 100%;
  }
  .current-score {
    left: 20px;
  }
  .top-score {
    right: 20px;
  }
  .score {
    display: block;
    position: absolute;
    top: 15px;
    z-index: 1;
    font-size: 20px;
  }
  .controls {
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    font-size: 11px;
    text-align: center;
    line-height: 1.6;
    @media only screen and (max-width: 550px) { 
      display: none;
    }
  }
  .endgame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    z-index: 1;
    text-align: center;
  }
  button{
    border: 4px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'PT Mono', serif;
    cursor: pointer;
  }
  button:hover{
    background-color: #ffffff;
    color: #000000;
  }

}