$preview-height: 50px;
$preview-width: 300px;
$input-height: 30px;
$input-width: 180px;
$preview-spacing: 30px;

.JoinRoomForm {

  form {
    height: 100%;
    width: 100%;
  }

  .goAnonText {
    margin-top: 10px;
    text-align: center;

    span {
      color: #3f5765;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

  }
}

.interactiveInput {

  height: $preview-height;
  position: relative;
  width: $preview-width;
  margin: 0 auto;
  margin-top: 20px;

  div {
    display: inline-block;
  }

  .nameInput {
    position: absolute;
    top: ($preview-height - $input-height)/2;
    left:0;
    height: $input-height;    
    width: $input-width;
    transform: translate3d(($preview-width - $input-width)/2,0,0);
    transition: transform 500ms ease;

    &.errorState {
      color: #d90000;
    }
  }

  .nameInput.active {
    transform: translate3d($preview-height + $preview-spacing,0,0);
  }

   input {
     font-size: 100%;
     height: 100%;
     width: 100%;
   }
}

.joinButtonWrapper {
  text-align: center;
  height: 60px;
  margin-top: 20px;

  .joinButton.glow {
    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}