// page transitions

.versionTag {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 99999;
  background-color: purple;
  color: white;
  border-radius: 6px;
  padding: 4px;
  font-size: 0.8em;
}

.page {
  position: absolute;
  width: 100%;
}


.page-appear {
  opacity: 0.01;
}

.page-appear.page-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity ease-out 500ms;

}
.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity ease-out 600ms;
}
