$background: #13171f; //also change on template html for safari
//anchor : have to calculate offsets manually for icons !
$anchor-width: 50px;
$anchor-height: 100px;
$anchor-icon-size: 30px;
$anchor-icon-top: 10px;
$anchor-icon-left: 10px;
//anchor-tabs-colors
$sidebar-close-button: #c1e1ed;
//sidebar
$sidebar-content: #0d1f30;
$sidebar-content-text: ghostwhite;
//primary-action-colors
$toggle:#2c3e50;
$toggle-active: #fffff0;
$disconnect: #e74c3c;
.compact .sidebar {
  width: 320px; // do mobile later...
  //width: 100%;
  transform: translate3d(100%, 0, 0);
}

.sidebar {
  background-color: $sidebar-content;
  height: 100%;
  position: absolute;
  z-index: 500;
  top: 0;
  right: 0;
  #close-sidebar {
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;
    font-size: 1.4em;
    border-bottom-left-radius: 5px;
    color: #2c3e50;
    cursor: pointer;
    line-height: 25px;
    text-align: center;

  }
  transition: transform 400ms ease;
  width: 340px;
  transform: translate3d(100%, 0, 0);
  &.visible {
    transform: translate3d(0, 0, 0) !important;
    .anchor {
      opacity: 1;
    }
  }
  .content-wrapper {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    color: $sidebar-content-text;
  }
  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    z-index: 1;
    &.onTop {
      z-index: 2;
    }
  }
  .content-switcher {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 100%;
    width: $anchor-width;
    height: $anchor-height;
    transition: opacity 0.3s ease-in-out;
    &.visible {
      opacity: 1;
    }
    .switch {
      position: absolute;
      width: $anchor-width;
      height: $anchor-width;
      border-top-left-radius: 45%;
      border-bottom-left-radius: 45%;
      box-shadow: inset -1px 0px 3px #2e3136;
      cursor: pointer;
      svg {
        width: $anchor-icon-size;
        position: absolute;
        top: $anchor-icon-top;
        left: $anchor-icon-left;
      }
      &.active {
        box-shadow: none;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anchor-in {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes anchor-out {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
