.content.Info {
  //background-image: url('/images/geo.png');
  border-top-left-radius: 5px;
  &.compact {
    border-top-left-radius: initial;
  }
  color: #333333;

  .shareRoom {
    cursor: pointer;
    max-width: 380px;
    width: 90%;
    margin: 0 auto;
    margin-top: 65px;
    display: flex;
    padding: 5px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover .copyButton{
      transform: scale(1.05, 1.05);
      box-shadow: 0px 5px 15px -6px rgba(0, 0, 0, 0.81);
      background-color: mediumaquamarine;
    }
  }

  .copyButton {
    display: block;
    font-size: 3.2em;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: steelblue;
    transition: background-color 0.5s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    border-radius: 15%;
  }

  .roomLink {
    text-align: center;
  }

  .copyText {
    display: block;
    width: calc(100% - 50px);
    text-align: center;
    line-height: 50px;
    margin-left: 10px;
    font-size: 1.3em;
    color: #333333;

    .hand {
      margin-left: 6px;
      font-size: 1.2em;
    }
  }

  .copyReason {
    color: #666666;
    height: 30px;
    line-height: 30px;
  }

  .exploreContainer {
    margin-left: 10px;
    position: relative;
    top: -40px;

    .arrowPointer {
      height: 100px;
      width: 100px;
      transform: rotateY(180deg) rotateZ(-30deg);
    }

    .text {
      font-size: 1.2em;
      color: #666666;
      margin-top: 20px;
      margin-left: 10px;
    }
  }

  &.compact .exploreContainer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    top: initial;
    margin-left: initial;
    .arrowPointer {
      // width: 60px;
      // height: 60px;
      display: none;
    }

    .text {
      margin: 0 auto;
      text-align: center;
      font-size: 1em;
    }
  }
}