$speaking-indicator-color: #45b29d;

$avatar-size: 50px;
.streamContainer {
  overflow-x: auto;
  width: 100%;
  padding: 5px;
  padding-left: 62px;
  background-color: #2e3136;
  overflow-y: hidden;


  &.compactUI {
    padding-left: 5px;
  }

  span {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .streamBox {
    height: 100%;
    min-width: 60px;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    flex-shrink: 0;
    display: flex;

    &.noVideo, &.compact {
      flex-direction: column;
      justify-content: center;
      .videoStream {
        display: none !important;
      }
    }

    .avatar {
      cursor: pointer;
      position: relative;
      transition: transform 0.3s ease-out;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid transparent;
        transition: border-color 0.5s ease-out;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      &:active {
        transform: scale(1.07, 1.07);
      }

      &:hover::after {
        border-color: orange;
      }
    }

    &.avatarGlow .avatar::after{
      border-color: $speaking-indicator-color;
    }

    &.showVideo {
      margin-left: 10px;
    }

    &.showVideo .avatar {
      position: absolute;
      bottom: 0px;
      left: -10px;
      z-index: 2;
    }

    .videoStream {
      height: 100%;
      width: auto;
      position: relative;
      margin-right: 5px;
      cursor: pointer;
      transition: transform 0.3s ease-out;
      
      &:hover {
        transform: scale(1.03, 1.03);
      }
      &:active {
        transform: scale(1.07, 1.07);;
      }

      video {
        height: 100%;
        min-width: 100px;
        display: block;
        border-radius: 5px;
      }

      .indicator {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        transition: opacity 0.5s ease-out;
        border-radius: 3px;
        background-color: $speaking-indicator-color;
        &.speaking, &.warning {
          opacity: 1;
        }

        &.warning {
          background-color: yellow !important;
        }      
      }
    }
  }
  .streamBox-enter {
    transform: translate3d(0, -100%, 0);
  }
  .streamBox-enter.streamBox-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease-in;
  }
  .streamBox-leave {
    transform: translate3d(0, 0, 0);
  }
  .streamBox-leave.streamBox-leave-active {
    transform: translate3d(0, -100%, 0);
    transition: transform 300ms ease-out;
  }
}
