.content.VideoChat {

  color: #ffffff;

  &.compact {
    .controls {
      height: 200px;
      width: 50px;

      left: initial;
      right: 25px;
      top: calc(50% - 100px);
      .control {
        display: block;
        border-bottom: 1px solid black;
        border-right: initial;
      }

      &.hidden {
        opacity: 0;
      }
    }

    .focussedStream {
      border-top-left-radius: initial;
    }
  }

  .header {
    padding: 30px;
    text-align: center;
    font-size: 1.3em;

    .hand {
      font-size: 1.3em;
      margin-left: 2px;
    }

    @media only screen and (max-width: 550px) {
      font-size: 1.1em;
    }

    button {
      margin-top: 30px;
    }
  }

  .focussedStream {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    border-top-left-radius: 5px;

    &.empty {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    video {
      height: 100%;
      width: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .userInfoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: black;

    &.hidden {
      opacity: 0;
    }
    .avatar, .name, .loginService {
      display: inline-block;
    }
    .name {
      padding: 10px;
    }
    .loginService {
      font-size: 1.5em;
    }

    &.positionSidelines {
      position: absolute;
      left: 0;
      bottom: 20px;
    }

    &.positionCenter {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  .controls {
    width: 200px;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    height: 50px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 100px);
    overflow: hidden;
    transition: opacity 1s ease;
    user-select: none;
    opacity: 1;
    z-index: 1000;

    &.hidden {
      opacity: 0;
    }


    .control {
      cursor: pointer;
      display: inline-block;
      height: 50px;
      width: 50px;
      opacity: 0.95;

      padding-top: 13px;
      padding-left: 13px;

      &:active {
        opacity: 1.0;
      }

      // transition: background-color 0.4s ease;
      border-right: 1px solid black;
      &.error {
        background-color: darkred !important;
      }

      &:last-child {
        border: none !important;
      }

      &.muted {
        background-color: indianred !important;
      }

      &:hover {
        background-color: darkslateblue;
      }

      &.loading {
        background-color: dimgray;
      }

      &.active {
        background-color: mediumseagreen;
      }
    }
  }
}
