.content.VideoChat {

  color: #ffffff;
  &.onTop {

  }

  &.compact {
    .controls {
      height: 200px;
      width: 50px;

      left: initial;
      right: 25px;
      top: calc(50% - 75px);

      .control {
        display: block;
        border-bottom: 1px solid black;
        border-right: initial;
      }
    }
  }

  .header {
    padding: 30px;
    text-align: center;
    font-size: 1.3em;

    .hand {
      font-size: 1.3em;
      margin-left: 2px;
    }

    @media only screen and (max-width: 550px) { 
      font-size: 1.1em;
    }

    button {
      margin-top: 30px;
    }
  }

  .controls {
    width: 200px;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
    height: 50px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 75px);
    overflow: hidden;
    transition: opacity 1s ease;
    opacity: 1;

    &.hidden {
      opacity: 0;
    }

  
    .control {
      cursor: pointer;
      display: inline-block;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 1.5em;
      user-select: none;
      // transition: background-color 0.4s ease;
      border-right: 1px solid black;
      &.error {
        background-color: darkred !important;
      }

      &:last-child {
        border: none !important;
      }

      &.muted {
        background-color: indianred !important;
      }

      &:hover {
        background-color: darkslateblue;
      }

      &.loading {
        background-color: dimgray;
      }

      &.active {
        background-color: mediumseagreen;
      }
    }
  }


  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .fade-leave {
    opacity: 1;
  }

  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .fade-appear {
    opacity: 0.01;
  }

  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}