.versionTag {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 99999;
  background-color: purple;
  border-radius: 6px;
  padding: 4px;
  font-size: 0.8em;

  a {
    color: white;
    text-decoration: initial;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
}
