
$landing-primary : white;

.landing {
  font-family: "Nunito" ,-apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
  background-color: $landing-primary;
  min-height: 100vh;
  position: relative;

  > .logo {
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 5%;

    @media only screen and (min-width: 700px) {
      display: initial;
    }

    .oorjaTitle {
      text-align: center;
      font-size: 1.3em;
      font-weight: 300;
    }
  }


  > .kickstart {
    // background-image: url('/images/geo.png');
    padding-top: 100px;
    padding-bottom: 40px;

    > .tagline {

      padding-left: 10px;
      padding-right: 10px;
      color: #474747;
      font-weight: 300;
      text-align: center;
      font-size: 2.1em;
      width: 100%;
    }

    > .minimalDescription {
      font-size: 1.3em;
      padding-top: 10px;
      text-align: center;
      color: #797979;
    }

    > .room-form {
      margin-top: 20px;
      min-height: 100px;
      max-height: 400px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }

  > .about {

    margin: 0 auto;
    max-width: 600px;

    .header {
      font-size: 1.4em;
      line-height: 2.0em;
      text-align: center;
    }

    .step {
      font-size: 1.1em;
      margin: 20px auto;
    }

    line-height: 1.5em;
    font-size: 1.2em;
    min-height: 50vh;
    color: #333333;
    padding-top: 0px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;

    .extraInfo {
      color: #666666;
    }

    .previewReel {
      padding-left: 0px;
    }

    li {
      padding-top: 10px;
      padding-bottom: 30px;
      list-style: none;
      .title {
        text-align: center;
        font-size: 1.1em;
        color: #797979;
        padding-top: 8px;
      }

      .preview {
        text-align: center;
        img {
          max-height: 100%;
          max-width: 100%;
          border-radius: 5px;
          box-shadow: 0px 13px 30px -14px rgba(0, 0, 0, 0.63);
          &.gif {
            max-height: 400px;
          }
        }
      }
    }

    #about {
      font-size: 1.4em;
    }
  }
}

.stretchyNav {
  position: fixed;
  z-index: 2;
  top: 15px;
  right: 5%;
  width: 46px;

  .navbg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    transition: height 0.2s;
    border: 2px solid #2f343b;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 13px 30px -14px grey;
  }

  &.visible {
    .navbg {
      height: 184px;
    }

    ul {
      li {
        visibility: visible;

        &:first-child a {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      .navItem {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 2;

    li {
      padding: 0;
      margin: 0;
      visibility: hidden;
      transition: visibility 0.3s;

      &:first-child a {
        border-radius: 14px;
      }

      &:last-child a {
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
      }

      &.trigger {
        visibility: visible;
      }

      a {
        display: flex;
        height: 46px;
        width: 46px;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #282c34;
          color: white;
        }
      }

      .navItem {
        transform: scale(0);
        transition-delay: 0.4s;
        transition: transform 0.2s ease;
      }
    }


  }
}
