$switcher-width: 60px;

.spotlight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  > .content-wrapper {
    background-color: #2e3136;
    position: absolute;
    left: $switcher-width;
    height: 100%;
    width: calc(100% - 60px); // cant apply scss variable here? why?
  }

  &.compact > .content-wrapper {
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
  }

  > .content-switcher {
    background-color: #2e3136;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    height: 100%;
    width: $switcher-width;

    > .switch {
      flex-shrink: 0;
      width: 45px;
      height: 45px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 30%;
      background-color: gray;
      transform: scale(1.0);
      transition: transform ease 0.3s;
      cursor: pointer;
      opacity: 0.5;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      i {
        font-size: 2.1em;
      }

      &:first-child {
        margin-top: 25px;
      }

      &:hover {
        border: 3px solid #3e606f;
        opacity: 0.8;
      }

      &.active {
        &:hover {
          opacity: 1.0;
        }
        border: 4px solid #3e606f;
        opacity: 1.0;
        transform: scale(1.07)
      }
    }
  }

  &.compact > .content-switcher {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    justify-content: center;
    flex-direction: row;

    > .switch {
      margin-top: initial;
      margin-bottom: initial;
      margin-left: 5px;
      margin-right: 5px;
    }
  }


  > .content-wrapper > .content {
    border-top-left-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    &.onTop {
      z-index: 2;
    }

    .syncSpinner {
      height: 35px;
      width: 35px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 9999;
    }
  }

  &.compact > .content-wrapper > .content {
    border-top-left-radius: initial;
  }
}