$switcher-width: 62px;

.spotlightContainer {
  position: relative;
  flex-grow: 100;
}

.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  > .content-wrapper {
    background-color: #2e3136;
    position: absolute;
    left: $switcher-width;
    height: 100%;
    width: calc(100% - 60px); // cant apply scss variable here? why?
  }

  &.compact > .content-wrapper {
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
  }

  > .content-switcher {
    height: 100%;
    width: $switcher-width;
    background-color: #2e3136;

    // css transition group classes for switch
    .switch-enter {
      transform: translate3d(-70px, 0, 0);
    }

    .switch-enter.switch-enter-active {
      transform: translate3d(0, 0, 0);
      transition: transform 1s ease-in;
    }

    .switch-exit {
      transform: translate3d(0, 0, 0);
    }

    .switch-appear {
      transform: translate3d(-70px, 0, 0);
    }

    .switch-appear.switch-appear-active {
      transform: translate3d(0, 0, 0);
      transition: transform 1s ease-in;
    }

    .switch-exit.switch-exit-active {
      transform: translate3d(-70px, 0, 0);
      transition: transform 300ms ease-out;
    }


    // alt transition for compact UI
    .switch-alt-enter {
      transform: translate3d(0, 70px, 0);
    }

    .switch-alt-enter.switch-alt-enter-active {
      transform: translate3d(0, 0, 0);
      transition: transform 1s ease-in;
    }

    .switch-alt-exit {
      transform: translate3d(0, 0, 0);
    }

    .switch-alt-appear {
      transform: translate3d(0, 70px, 0);
    }

    .switch-alt-appear.switch-alt-appear-active {
      transform: translate3d(0, 0, 0);
      transition: transform 1s ease-in;
    }

    .switch-alt-exit.switch-alt-exit-active {
      transform: translate3d(0, 70px, 0);
      transition: transform 300ms ease-out;
    }
  }

  > .content-switcher > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    overflow-y: auto;
    overflow-x: hidden;

    height: 100%;
    width: 100%;

    > .switch {
      width: 45px;
      height: 45px;
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      color: white;
      flex-shrink: 0;

      .box {
        height: 100%;
        width: 100%;
      }

      .badge {
        position: absolute;
        z-index: 400;
        top: -6px;
        right: -8px;
        min-width: 20px;
        text-align: center;
        background-color: #1b1d1e;
        font-weight: bold;
        color: orange;
        font-size: 0.8em;
        border-radius: 7px;
        border: 3px solid #3e606f;
        padding: 1px;

        &.empty {
          min-width: initial;
          font-size: 0.4em;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background-color: orange;
        }
      }

      .tabIcon {
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        text-align: center;
        // display: flex;
        // align-content: center;
        // align-items: center;
        // justify-content: center;
        opacity: 0.7;
      }

      &:hover {
        .tabIcon {
          border: 3px solid #3e606f;
          line-height: 39px;
          opacity: 0.85;
        }
      }

      &.active {
        &:hover .tabIcon{
          opacity: 1.0;
        }

        .tabIcon {
          border: 4px solid #3e606f;
          opacity: 1.0;
        }
      }
    }
  }

  &.compact > .content-switcher {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 62px;

    > div {
      padding-left: 25px;
      padding-right: 25px;
      justify-content: center;
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;

      > .switch {
        margin-top: initial;
        margin-bottom: initial;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }


  > .content-wrapper > .content {
    border-top-left-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    &.onTop {
      z-index: 2;
    }

    .syncSpinner {
      height: 35px;
      width: 35px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 9999;
    }
  }

  &.compact > .content-wrapper > .content {
    border-top-left-radius: initial;
  }
}
