$preview-height: 70px;
$preview-width: 300px;
$input-height: 30px;
$input-width: 180px;
$preview-spacing: 30px;

.JoinRoomForm {
  form {
    height: 100%;
    width: 100%;
  }
}

.interactiveInput {

  height: $preview-height;
  position: relative;
  width: $preview-width;
  margin: 0 auto;

  div {
    display: inline-block;
  }

  .avatar, .textAvatar {
    position: absolute;
    height: $preview-height;
    width: $preview-height;
    border-radius: 50%;
  }

  .textAvatar {
    line-height: $preview-height; // vertical align text in a div :D
    text-align: center;
    font-size: 2.0em;
    color: #ffffff;
    transition: background-color 0.5s ease;
   }

   .nameInput {
     position: absolute;
     top: ($preview-height - $input-height)/2;
     left:0;
     height: $input-height;    
     width: $input-width;
     transform: translate3d(($preview-width - $input-width)/2,0,0);
     transition: transform 500ms ease;
   }

   .nameInput.active {
     transform: translate3d($preview-height + $preview-spacing,0,0);
   }

   input {
     font-size: 100%;
     height: 100%;
     width: 100%;
   }
}

.joinButtonWrapper {
  text-align: center;
  height: 60px;
  margin-top: 20px;
}

.avatar-enter, .avatar-appear {
  transform: scale(0.1);
}

// this effect is not visible everytime because the popup makes the 
.avatar-enter.avatar-enter-active , .avatar-appear.avatar-appear-active {
  transform: scale(1.0);
  transition: transform 1500ms ease;
}

.avatar-leave {
  transform: scale(1.0);
}

.avatar-leave.avatar-leave-active {
  transform: scale(0);
  transition: transform 300ms ease;
}


.textAvatar-enter {
  opacity: 0.01;
}

.textAvatar-enter.textAvatar-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.textAvatar-leave {
  opacity: 1;
}

.textAvatar-leave.textAvatar-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-out;
}