.passwordFormContainer {
  height: 100vh;
  width: 100%;
  //background-image: url('/images/bricks.png');

  .passwordForm {
    margin: 0 auto;
    padding-top: 80px;
    width: 340px;

    form {
      display: flex;
    }
    input[type="password"] {
      width: 70%;
      font-size: 1.3em;
    }
  }
}
