
$landing-primary : white;

.landing {
  background-color: $landing-primary;
  min-height: 100vh;
  position: relative;

  .logo {
    display: none;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: calc(5%);

    @media only screen and (min-width: 700px) { 
      display: initial;
    }

    .oorjaTitle {
      text-align: center;
    }
  }
  .kickstart {
    min-height: 95vh; 
    // background-image: url('/images/geo.png');
    padding-top: 100px;
    padding-bottom: 40px;

    .tagline {
      padding-left: 10px;
      padding-right: 10px;
      color: #474747;
      font-weight: 200;
      text-align: center;
      font-size: 1.8em;
      width: 100%;
    }

    .minimalDescription {
      padding-top: 10px;
      text-align: center;
      color: #797979;
    }

    .logoJazz {
      height: 140px;
      width: 100%;
      text-align: center;
      svg {
        cursor: pointer;
        transition: transform 0.5s ease-in;
        transform: scale(1,1);
        &.active, &:hover {
          transform: scale(1.06,1.06);

          .surround {
            animation: blink-activity 5s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }

      }
    }

    .room-form {
      margin-top: 20px;
      min-height: 100px;
      max-height: 400px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }

  .about {
    line-height: 1.4em;
    font-size: 1.2em;
    min-height: 50vh;
    background-color: darkcyan;
    color: white;
    padding: 40px;

    .status-text {
      margin: 0 auto;
      max-width: 540px;
    }
    a {
      color: greenyellow;
    }
    #about {
      font-size: 1.4em;
    }
  }
}

