@import "base/animations";
@import "module/Loading";
// pages
@import "./pages/_landing";

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}



/* login container */
.login-container {
  height: 60px;
  width: 100%;
  margin: 0 auto;

}

.loginButton {
  display: inline-block;
  height: 60px;
  width: 60px;
}