
$landing-primary : #fafafa;

.landing {
  background-color: $landing-primary;
  padding: 20px;
  min-height: 100vh;
}

.kickstart {
  min-height: 90vh; 
  display: flex;
  align-content: stretch;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-around;

  .intro {  
    max-width: 95%;

    @media only screen and (min-width: 500px) { 
        max-width: 80%;
    }

    @media only screen and (min-width: 920px) { 
        padding: 6%;
        display: inline-block;
        max-width: 500px;
    }

    .text {
      font-size: 1.3em;
      color: #33485f;
    }

    .branding {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 2.0em;
      color: deepskyblue;
    }

  }

  .room-form {
    display: inline-block;
    min-width: 320px;
    max-width: 500px;
    @media only screen and (min-width: 920px) { 
        display: inline-block;
        width: calc(100% - 500px);
    }
  }
}