.content.DiscoverTabs {
  border-top-left-radius: 6px;
  // background-image: url('/images/geo.png');
  &.compact {
    border-top-left-radius: initial;
  }

  > .container {
    padding-top: 20px;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    > .title {
      .heading {
        color: #333333;
        width: 100%;
        text-align: center;
        font-size: 1.4em;
      }
      .description {
        width: 100%;
        text-align: center;
        color: #666666;
      }
    }
  }

  .tabList {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .tabPreview {
    padding: 8px;
    border-bottom: 1px solid grey;
    position: relative;
    .name {
      font-size: 1.14em;
    }
    .description{
      color: #666666;
      width: 70%;
    }

    .custom-delay {
      animation-delay: 0s; // spin-infinite animation, override default delay with 0 delay
    }
    .status {
      width: 50px;
      position: absolute;
      top: 5px;
      right: 14px;
      font-size: 2.1em;
      height: 50px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;

      &.loading {
        svg {
          animation-name: rotate;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: ease;
        }
      }
    }
  }
}
