@keyframes rotate {
  from { transform: rotate( 0deg ); }
  to   { transform: rotate( 360deg ); }
}

 .animate.fade-in {
    animation-name: fade-in;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
  }

.animate.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

 .animate.zoom-in {
    animation-name: flipInY;
    animation-duration: 1.5s;
    backface-visibility: visible !important;
    animation-fill-mode: both;
  }

@keyframes fade-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes zoom-in {
  0%{
    transform: scale(0.6)
  }
  100%{
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes greenPulse {
  from { background-color: #1d9f69;  }
  50% { background-color: #91bd09; }
  to { background-color: #1d9f69;  }
}


@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
