@keyframes rotate {
  from { transform: rotate( 0deg ); }
  to   { transform: rotate( 360deg ); }
}

 .animate.fade-in {
    animation-name: fade-in;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
  }

.animate.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

 .animate.zoom-in {
    animation-name: zoom-in;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1.000, 0.020, 0.810, 1.015);
  }

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

@keyframes zoom-in {
  0%{
    transform: scale(0)
  }
  100%{
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes greenPulse {
  from { background-color: #1d9f69;  }
  50% { background-color: #91bd09; }
  to { background-color: #1d9f69;  }
}